Considere el siguiente reporte de rendimientos de las acciones de la compañía Alpha en los últimos cinco años.

| Año |	Rendimiento |
| --- | ----------- |
| 1   | 	-7%     |
| 2   |      4%     |
| 3   | 	10%     |
| 4   | 	-8%     |
| 5   | 	15%     |

¿Cuál es el rendimiento medio geométrico?

In [27]:
import pandas as pd

In [28]:
tabla = pd.DataFrame(data={'r': [-0.07, 0.04, 0.1, -0.08, 0.15]},
                     index=range(1, 6)
                    )
tabla

      r
1 -0.07
2  0.04
3  0.10
4 -0.08
5  0.15

In [29]:
(1 + tabla['r']).prod()**(1/5) - 1

0.02395041921708474

In [30]:
Er = tabla.mean()
Er

r    0.028
dtype: float64

In [38]:
sr = ((tabla - Er)**2 / (5 - 1)).sum()**0.5
sr

r    0.101833
dtype: float64

In [39]:
tabla.std()

r    0.101833
dtype: float64

In [23]:
tabla.std(ddof=0)

r    0.091082
dtype: float64

In [22]:
help(tabla.std)

Help on method std in module pandas.core.frame:

std(axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs) method of pandas.core.frame.DataFrame instance
    Return sample standard deviation over requested axis.

    Normalized by N-1 by default. This can be changed using the ddof argument

    Parameters
    ----------
    axis : {index (0), columns (1)}
    skipna : bool, default True
        Exclude NA/null values. If an entire row/column is NA, the result
        will be NA.
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a Series.
    ddof : int, default 1
        Delta Degrees of Freedom. The divisor used in calculations is N - ddof,
        where N represents the number of elements.
    numeric_only : bool, default None
        Include only float, int, boolean columns. If None, will attempt to use
        everything, then use only numeric data. Not implemented for Series.

    Returns
    -------
    Series or DataFrame (if level specified)

Considere el siguiente reporte de rendimientos de cierta acción en los últimos tres años

| Año |	Rendimiento |
| --- | ----------- |
| 1   | 	-15%    |
| 2   |	     25%    |
| 3   |      30%    |

¿Cuál es el rendimiento medio geométrico?

In [15]:
tabla2 = pd.DataFrame(data={'r': [-0.15, 0.25, 0.3]},
                      index=range(1, 4)
                     )
tabla2

      r
1 -0.15
2  0.25
3  0.30

In [16]:
(1 + tabla2['r']).prod()**(1 / len(tabla2)) - 1

0.11367233233566165

In [17]:
tabla2['r'].mean()

0.13333333333333333

Con base en la siguiente distribución de rendimientos para el activo A,

| Probabilidad | Rendimiento |
| ------------ | ----------- |
|     30%      | 	15%      |
|     40%      | 	8%       |
|     30%      | 	-7%      |

¿Cuál es su desviación estándar?

In [18]:
tabla3 = pd.DataFrame(data={'p': [0.3, 0.4, 0.3],
                            'r': [0.15, 0.08, -0.07]
                           }
                     )
tabla3

     p     r
0  0.3  0.15
1  0.4  0.08
2  0.3 -0.07

In [20]:
Er = (tabla3['p'] * tabla3['r']).sum()
sr = (tabla3['p'] * (tabla3['r'] - Er)**2).sum()**0.5
Er, sr

(0.055999999999999994, 0.08742997197757757)